Repository mltooling/ci-test, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance

Change in vscode
  .vscode/recommended-settings.json
Labels: maintenance

Change to docs
  CONTRIBUTING.md
Labels: documentation

Change to docs
  CONTRIBUTING.md
Labels: documentation

Add new file
  new-file
Labels: none

Change to docs
  docs/test2.md
Labels: documentation

change to workflow file
  .github/workflows/actions.yml
Labels: maintenance

Change to build stuff
  build.sh
Labels: none

.github/labeler.yml:

# Add documentation label to any change in documentation related files
documentation:
  - "docs/*"
  - "docs/**/*"
  - "**/README.md"
  - "CONTRIBUTING.md"

maintenance:
  - ".vscode/*"
  - ".vscode/**/*"
  - ".github/*"
  - ".github/**/*"
  - ".reuse/*"
  - "LICENSES/*"
  - ".editorconfig"
  - "**/.gitignore"
  - "**/build.py"
